<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.shop.order.dao.GoodsPicMapper">
  <resultMap id="BaseResultMap" type="com.dl.shop.order.model.GoodsPic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="image_type" jdbcType="INTEGER" property="imageType" />
  </resultMap>
  
  <select id="findByGoodsId" resultMap="BaseResultMap">
  	select * from dl_goods_pic where goods_id = #{goodsId}
  </select>
  
</mapper>